body {
    background-color: #42A5F5;
    font-family: 'Roboto';
}

img {
    display: none;
}

h3 {
    font-family: 'Roboto Slab';
    color: #fff;
    text-align: center;
    font-size: 2em;
    margin: .25em auto;
}

input[type="text"] {
    resize: none;
    border: 3px solid var(--baseBlue);
    border-radius: 1.5em;
    outline: none;
    font-family: 'Roboto';
    padding: .5em;
    font-size: .8em;
    width: 300px;
}

input[type="text"]::placeholder {
    color: #42A5F5;
}

.menu {
    padding: 0;
    top: 10px;
    left: 10px;
    width: 36px;
    height: 36px;
}

.invisible {
    position: absolute;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.menu svg {
    fill: #fff;
}

button.regular {
    background-color: #ffffff;
    outline: none;
    border: none;
    color: #42a5f5;
    border-radius: 1.875em;
    width: min-content;
    font-size: 1.2em;
    padding: 6px 20px;
}
button.regular:active {
    background-color: #42a5f5;
    border: 2px solid #fff;
    color: #fff;
    padding: 4px 18px;
}
button.regular:hover{
    cursor: pointer;
}
form * {
    margin: .5em auto;
}

article, form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article {
    height: 100vh;
}
@media (min-width: 1000px) {
    .menu svg {
        fill: #000;
    }
    body{
        background-color: #fff;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    img {
        display: block;
        margin: auto;
        width: 60%;
    }
    article {
        background-color: #42a5f5;
    }
}